<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Regeln für Entgeltrechner" Description="Codeanalyseregeln für Entgeltrechner.vcxproj." ToolsVersion="16.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C26472" Action="None" />
    <Rule Id="C26481" Action="None" />
    <Rule Id="C26482" Action="Warning" />
    <Rule Id="C26490" Action="None" />
    <Rule Id="C26492" Action="None" />
  </Rules>
</RuleSet>